---
- name: install nginx on Ubuntu
  hosts: all
  pre_tasks:
  - name: Update apt cache
    apt:
      update_cache: yes
  - name: check httpd install status
    shell: systemctl is-active httpd
    register: httpd_status
    ignore_errors: yes
  - name: stop and disable httpd if active
    package:
      name: httpd
      state: absent
    when: httpd_status.stdout == "active"
  roles:
    - geerlingguy.nginx
  when: ansible_facts['os_family'] == "Debian"
  register: nginx_installation
  tasks:
    - name: ensure nginx is started and enabled if installed
      service:
        name: nginx
        state: started
        enabled: yes
      when: nginx_installation is changed
        