---
- name: create user with encrypted password
  hosts: web2
  vars_prompt:
  - name: passw
    prompt: enter the password you would like to use
  vars: 
    user: sharon
  tasks:
  - debug:
      msg: "{{ '{{passw}}' | password_hash('sha512','myrandomsalt') }}"
    register: mypass
  - debug: 
      var: mypass
  - name: create the user
    user:
      name: "{{ user }}"
      password: "{{mypass.msg}}"