---
- name: Configure servers with applications
  hosts: localhost
  gather_facts: yes
  ignore_errors: yes
  vars:
    servers: 
    - name: web
      applications:
      - name: nginx
        state: present
      - name: php
        state: present
    - name: db_server
      applications:
      - name: postgresql
        state: present
      - name: redis
        state: absent
  tasks:
  # - name: show the original list of servers and applications
  #   debug: 
  #     msg: "servers: {{ servers }}"
  # - name: Install and configure applications on each servers
  #   package: 
  #     name: "{{ item.1.name }}"
  #     state: "{{ item.1.state }}"
  #   loop: "{{ lookup('subelements', servers, 'applications') }}"
  #   when: ansible_os_family == "Debian"
  #   tags: applications
  # - name: show the configuration applied
  #   debug: 
  #     msg: "Server: {{ item.0.name }}, Application: {{ item.1.name }}, State: {{ item.1.state }}"
  #   loop: "{{ lookup('subelements', servers, 'applications') }}"
  #   tags: debug
  - debug:
      msg: servers
  - debug: 
      msg: "{{ item.1.name}}{{ item.1.state }}"
    loop: "{{ lookup('subelements') }}"
