---
- name: install apps from roles
  hosts: localhost
  ignore_errors: yes
  pre_tasks:
  - name: update apt cache
    apt: 
      update_cache: yes
  - name: install less package
    apt:
      name: less
      state: present
    register: less_status
  - name: install tree package
    apt: 
      name: tree
      state: present
    register: tree_status
  roles:
  - geerlingguy.nginx
  post_tasks:
  - service:
      name: nginx
      enabled: yes
      state: started
  - debug: 
      msg: "both apps status {{ less_status.changed }} {{ tree_status.changed }}"